@use  "./utilities/variables.scss";
@use  "./utilities/default-styles.scss";
@use  "./utilities/font-families.scss";

@use  "./components/button.scss";
@use  "./components/text.scss";

.app {
    background-size: cover;
    background-color: #fff;
    background-repeat: no-repeat;

    .root {
        .fluex-gl-dsp-controls {
            padding: 40px;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;

            button {
                padding: 10px 20px;
                background: #d3d3d3;
                border: 2px outset #ffffff;

                &:active {
                    border-style: inset;
                }
            }

            .playback {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 20px;
            }
        }
    }
}