<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    {{ - include("./partials/head") }}
    <title>FluexGL Test Application</title>
</head>
<body class="app app-index">
    <div class="root">
        <div class="root__content">
            <div class="scene-wrapper"></div>
        </div>
    </div>
</body>
</html>