<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    {{ - include("./partials/head") }}
    <title>FluexGL Test Application</title>
<link href="/assets/dist/15a482344c284897c9b8.css?e013e2efd9554f6dd0a2" rel="stylesheet"></head>

<body class="app app-index">
    <div class="root">
        <div class="root__content">
            <!-- <div class="scene-wrapper"></div> -->
            <div class="fluex-gl-dsp-controls">
                <div class="buttons">
                    <button id="btn-play">Play</button>
                    <button id="btn-stop">Stop</button>
                </div>
                <div class="playback">
                    <p id="playback-current-time">00:00</p>
                    <input type="range" min="0" max="100" id="playback-tracker" />
                    <p id="playback-duration">00:00</p>
                </div>
            </div>
        </div>
    </div>
<script defer src="/assets/dist/3930246cd29377625b84.js?e013e2efd9554f6dd0a2"></script><script defer src="/assets/dist/656704cf26988db5fa78.js?e013e2efd9554f6dd0a2"></script><script defer src="/assets/dist/67bd223e733ba8498e16.js?e013e2efd9554f6dd0a2"></script><script defer src="/assets/dist/c30a9f6b807c97e50286.js?e013e2efd9554f6dd0a2"></script><script defer src="/assets/dist/0e47ae421f55363af6b3.js?e013e2efd9554f6dd0a2"></script><script defer src="/assets/dist/1261af570061be9b979d.js?e013e2efd9554f6dd0a2"></script><script defer src="/assets/dist/f853209974ea39803900.js?e013e2efd9554f6dd0a2"></script><script defer src="/assets/dist/d821586c8240500415ff.js?e013e2efd9554f6dd0a2"></script><script defer src="/assets/dist/ad2ac9c7bf590b52c469.js?e013e2efd9554f6dd0a2"></script><script defer src="/assets/dist/a8975db68c0079d5d0d8.js?e013e2efd9554f6dd0a2"></script><script defer src="/assets/dist/ba26ee680cab71fc87f1.js?e013e2efd9554f6dd0a2"></script><script defer src="/assets/dist/0ae2d3a2442133b1a023.js?e013e2efd9554f6dd0a2"></script><script defer src="/assets/dist/8e1785758bcee3595e94.js?e013e2efd9554f6dd0a2"></script><script defer src="/assets/dist/8a0cbfb83d5fc2d92c4f.js?e013e2efd9554f6dd0a2"></script><script defer src="/assets/dist/58bb9da6930dda1e2485.js?e013e2efd9554f6dd0a2"></script><script defer src="/assets/dist/7d4280530d95cc7c74b0.js?e013e2efd9554f6dd0a2"></script><script defer src="/assets/dist/f56936da09c78697d3e9.js?e013e2efd9554f6dd0a2"></script></body>

</html>