<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    {{ - include("./partials/head") }}
    <title>FluexGL Test Application</title>
<link href="/assets/dist/57f2cbb3424f191384d4.css?af3f9867d7bbd6e5f3d1" rel="stylesheet"></head>
<body class="app app-index">
    <div class="root">
        <div class="root__content">
            <div class="scene-wrapper"></div>
        </div>
    </div>
<script defer src="/assets/dist/3930246cd29377625b84.js?af3f9867d7bbd6e5f3d1"></script><script defer src="/assets/dist/e67992bebcfa4f339fba.js?af3f9867d7bbd6e5f3d1"></script><script defer src="/assets/dist/5fdf7d61c46c3963c768.js?af3f9867d7bbd6e5f3d1"></script></body>
</html>