<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    {{ - include("./partials/head") }}
    <title>FluexGL Test Application</title>
<link href="/assets/dist/15a482344c284897c9b8.css?f3edb39b3ed5ce0cac27" rel="stylesheet"></head>

<body class="app app-index">
    <div class="root">
        <div class="root__content">
            <!-- <div class="scene-wrapper"></div> -->
            <div class="fluex-gl-dsp-controls">
                <div class="buttons">
                    <button id="btn-play">Play</button>
                    <button id="btn-stop">Stop</button>
                </div>
                <div class="playback">
                    <p id="playback-current-time">00:00</p>
                    <input type="range" min="" id="playback-tracker" />
                    <p id="playback-duration">00:00</p>
                </div>
            </div>
        </div>
    </div>
<script defer src="/assets/dist/3930246cd29377625b84.js?f3edb39b3ed5ce0cac27"></script><script defer src="/assets/dist/cdaf175632bc2caaeb82.js?f3edb39b3ed5ce0cac27"></script><script defer src="/assets/dist/9c4e5d5f93d8399f27ff.js?f3edb39b3ed5ce0cac27"></script><script defer src="/assets/dist/1ab69a2497a36a651445.js?f3edb39b3ed5ce0cac27"></script><script defer src="/assets/dist/715386dd3750c1ca79de.js?f3edb39b3ed5ce0cac27"></script><script defer src="/assets/dist/76069fd2acee709e0a9e.js?f3edb39b3ed5ce0cac27"></script><script defer src="/assets/dist/99f9539bd8d2f387c3ba.js?f3edb39b3ed5ce0cac27"></script><script defer src="/assets/dist/0b15eb09d3df1405a3ef.js?f3edb39b3ed5ce0cac27"></script><script defer src="/assets/dist/ad34d2a115a83d260fbc.js?f3edb39b3ed5ce0cac27"></script><script defer src="/assets/dist/0f55dc7c454212ce548a.js?f3edb39b3ed5ce0cac27"></script><script defer src="/assets/dist/3a5d342275a7ecefa4e2.js?f3edb39b3ed5ce0cac27"></script><script defer src="/assets/dist/322bdd18981695b84f08.js?f3edb39b3ed5ce0cac27"></script><script defer src="/assets/dist/f1721e47a80535bc4037.js?f3edb39b3ed5ce0cac27"></script><script defer src="/assets/dist/3ff1d8afa17048a37dd6.js?f3edb39b3ed5ce0cac27"></script><script defer src="/assets/dist/b093dc38a260e7d663d8.js?f3edb39b3ed5ce0cac27"></script><script defer src="/assets/dist/7f2008f823b76a542de7.js?f3edb39b3ed5ce0cac27"></script></body>

</html>