<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    {{ - include("./partials/head") }}
    <title>FluexGL Test Application</title>
<link href="/assets/dist/57f2cbb3424f191384d4.css?f3cdb9141c70b17edb1a" rel="stylesheet"></head>
<body class="app app-index">
    <div class="root">
        <div class="root__content">
            <div class="scene-wrapper"></div>
        </div>
    </div>
<script defer src="/assets/dist/22d6f0e49b2fe07963d0.js?f3cdb9141c70b17edb1a"></script><script defer src="/assets/dist/54aff562c7a0b2ce7b57.js?f3cdb9141c70b17edb1a"></script><script defer src="/assets/dist/45dc61af6280cc5ab1a1.js?f3cdb9141c70b17edb1a"></script></body>
</html>