<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    {{ - include("./partials/head") }}
    <title>FluexGL Test Application</title>
<link href="/assets/dist/57f2cbb3424f191384d4.css?156fedd4e11592323eb6" rel="stylesheet"></head>
<body class="app app-index">
    <div class="root">
        <div class="root__content">
            <div class="scene-wrapper"></div>
        </div>
    </div>
<script defer src="/assets/dist/3930246cd29377625b84.js?156fedd4e11592323eb6"></script><script defer src="/assets/dist/e76d2150603b240b8399.js?156fedd4e11592323eb6"></script><script defer src="/assets/dist/d42b9498b43f69a9dea8.js?156fedd4e11592323eb6"></script><script defer src="/assets/dist/ee35e10c2eb0c6c2f3bf.js?156fedd4e11592323eb6"></script><script defer src="/assets/dist/41885b5f7cd896d2499b.js?156fedd4e11592323eb6"></script></body>
</html>