<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    {{ - include("./partials/head") }}
    <title>FluexGL Test Application</title>
<link href="/assets/dist/15a482344c284897c9b8.css?f0ba2d36469e5fb8b516" rel="stylesheet"></head>

<body class="app app-index">
    <div class="root">
        <div class="root__content">
            <!-- <div class="scene-wrapper"></div> -->
            <div class="fluex-gl-dsp-controls">
                <div class="buttons">
                    <button id="btn-play">Play</button>
                    <button id="btn-stop">Stop</button>
                </div>
                <div class="playback">
                    <p id="playback-current-time">00:00</p>
                    <input type="range" min="0" max="100" id="playback-tracker" />
                    <p id="playback-duration">00:00</p>
                </div>
            </div>
        </div>
    </div>
<script defer src="/assets/dist/c610d3c7ec3e7e17296a.js?f0ba2d36469e5fb8b516"></script><script defer src="/assets/dist/32dac1bc11ce51962f63.js?f0ba2d36469e5fb8b516"></script></body>

</html>