<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    {{ - include("./partials/head") }}
    <title>FluexGL Test Application</title>
<link href="/assets/dist/57f2cbb3424f191384d4.css?5ad4d05fd6fe89754200" rel="stylesheet"></head>
<body class="app app-index">
    <div class="root">
        <div class="root__content">
            <div class="scene-wrapper"></div>
        </div>
    </div>
<script defer src="/assets/dist/22d6f0e49b2fe07963d0.js?5ad4d05fd6fe89754200"></script><script defer src="/assets/dist/af89f3e550d4ef1b827e.js?5ad4d05fd6fe89754200"></script><script defer src="/assets/dist/1dda26aeac7db93bd8e6.js?5ad4d05fd6fe89754200"></script></body>
</html>