<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    {{ - include("./partials/head") }}
    <title>FluexGL Test Application</title>
<link href="/assets/dist/15a482344c284897c9b8.css?d3c163474234fc18d8f5" rel="stylesheet"></head>

<body class="app app-index">
    <div class="root">
        <div class="root__content">
            <div class="scene-wrapper"></div>
            <div class="fluex-gl-dsp-controls">
                <div class="buttons">
                    <button id="btn-play">Play</button>
                    <button id="btn-stop">Stop</button>
                </div>
                <div class="playback">
                    <p id="playback-current-time">00:00</p>
                    <input type="range" min="0" max="100" id="playback-tracker" />
                    <p id="playback-duration">00:00</p>
                </div>
            </div>
        </div>
    </div>
<script defer src="/assets/dist/3930246cd29377625b84.js?d3c163474234fc18d8f5"></script><script defer src="/assets/dist/8df52680d1be059b5298.js?d3c163474234fc18d8f5"></script><script defer src="/assets/dist/df017af13410336c0b1d.js?d3c163474234fc18d8f5"></script><script defer src="/assets/dist/688b400ca943a4507ee4.js?d3c163474234fc18d8f5"></script><script defer src="/assets/dist/dc381a290038e26f8561.js?d3c163474234fc18d8f5"></script></body>

</html>