<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    {{ - include("./partials/head") }}
    <title>FluexGL Test Application</title>
<link href="/assets/dist/57f2cbb3424f191384d4.css?9feef18d2c1cfa8a06ff" rel="stylesheet"></head>
<body class="app app-index">
    <div class="root">
        <div class="root__content">
            <div class="scene-wrapper"></div>
        </div>
    </div>
<script defer src="/assets/dist/3930246cd29377625b84.js?9feef18d2c1cfa8a06ff"></script><script defer src="/assets/dist/7ce40ebf25ca128b3de9.js?9feef18d2c1cfa8a06ff"></script><script defer src="/assets/dist/699ae8c7ebc8339fa074.js?9feef18d2c1cfa8a06ff"></script><script defer src="/assets/dist/ef3d23b604a038aab536.js?9feef18d2c1cfa8a06ff"></script><script defer src="/assets/dist/4d2ec2efdefa7bef77b5.js?9feef18d2c1cfa8a06ff"></script></body>
</html>