<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    {{ - include("./partials/head") }}
    <title>FluexGL Test Application</title>
<link href="/assets/dist/15a482344c284897c9b8.css?43c850b065d62c722d50" rel="stylesheet"></head>

<body class="app app-index">
    <div class="root">
        <div class="root__content">
            <!-- <div class="scene-wrapper"></div> -->
            <div class="fluex-gl-dsp-controls">
                <div class="buttons">
                    <button id="btn-play">Play</button>
                    <button id="btn-stop">Stop</button>
                </div>
                <div class="playback">
                    <p id="playback-current-time">00:00</p>
                    <input type="range" min="0" max="100" id="playback-tracker" />
                    <p id="playback-duration">00:00</p>
                </div>
            </div>
        </div>
    </div>
<script defer src="/assets/dist/8793264b8e3bf7d496c2.js?43c850b065d62c722d50"></script><script defer src="/assets/dist/0478929eb509f904ea3d.js?43c850b065d62c722d50"></script><script defer src="/assets/dist/42e9879fa8638a11fbfc.js?43c850b065d62c722d50"></script><script defer src="/assets/dist/236a449dfd22e121b25c.js?43c850b065d62c722d50"></script></body>

</html>