<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    {{ - include("./partials/head") }}
    <title>FluexGL Test Application</title>
<link href="/assets/dist/15a482344c284897c9b8.css?89ce6ea7ded7867e2c2f" rel="stylesheet"></head>

<body class="app app-index">
    <div class="root">
        <div class="root__content">
            <!-- <div class="scene-wrapper"></div> -->
            <div class="fluex-gl-dsp-controls">
                <div class="buttons">
                    <button id="btn-play">Play</button>
                    <button id="btn-stop">Stop</button>
                </div>
                <div class="playback">
                    <p id="playback-current-time">00:00</p>
                    <input type="range" min="0" max="100" id="playback-tracker" />
                    <p id="playback-duration">00:00</p>
                </div>
            </div>
        </div>
    </div>
<script defer src="/assets/dist/fe93be65dbbf096e1165.js?89ce6ea7ded7867e2c2f"></script><script defer src="/assets/dist/9f533ecb3a2353720daa.js?89ce6ea7ded7867e2c2f"></script><script defer src="/assets/dist/53d9fd0471400818568d.js?89ce6ea7ded7867e2c2f"></script><script defer src="/assets/dist/14d76afe906a8aca94a1.js?89ce6ea7ded7867e2c2f"></script><script defer src="/assets/dist/21e8e6f339d179e6edd3.js?89ce6ea7ded7867e2c2f"></script><script defer src="/assets/dist/5aadcef103b1142e1dba.js?89ce6ea7ded7867e2c2f"></script><script defer src="/assets/dist/6190dca72dbdde8f79ef.js?89ce6ea7ded7867e2c2f"></script><script defer src="/assets/dist/6b2936c923c471bd629d.js?89ce6ea7ded7867e2c2f"></script><script defer src="/assets/dist/6fc18209500c9ab66995.js?89ce6ea7ded7867e2c2f"></script><script defer src="/assets/dist/b3be216a9f6754e69248.js?89ce6ea7ded7867e2c2f"></script><script defer src="/assets/dist/efcbf35f194b228daa28.js?89ce6ea7ded7867e2c2f"></script><script defer src="/assets/dist/504275c109003302945e.js?89ce6ea7ded7867e2c2f"></script><script defer src="/assets/dist/7de1a2f448ea0fbce27f.js?89ce6ea7ded7867e2c2f"></script></body>

</html>