<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    {{ - include("./partials/head") }}
    <title>FluexGL Test Application</title>
<link href="/assets/dist/15a482344c284897c9b8.css?30876e88a3c8b2acf519" rel="stylesheet"></head>

<body class="app app-index">
    <div class="root">
        <div class="root__content">
            <!-- <div class="scene-wrapper"></div> -->
            <div class="fluex-gl-dsp-controls">
                <div class="buttons">
                    <button id="btn-play">Play</button>
                    <button id="btn-stop">Stop</button>
                </div>
                <div class="playback">
                    <p id="playback-current-time">00:00</p>
                    <input type="range" min="" id="playback-tracker" />
                    <p id="playback-duration">00:00</p>
                </div>
            </div>
        </div>
    </div>
<script defer src="/assets/dist/3930246cd29377625b84.js?30876e88a3c8b2acf519"></script><script defer src="/assets/dist/7b41074581dab1cf53f9.js?30876e88a3c8b2acf519"></script><script defer src="/assets/dist/f612d0be8ab851c495e1.js?30876e88a3c8b2acf519"></script><script defer src="/assets/dist/139da29055656117ba27.js?30876e88a3c8b2acf519"></script><script defer src="/assets/dist/c576b9e101fa83d3583a.js?30876e88a3c8b2acf519"></script><script defer src="/assets/dist/6f1033cd37588f579bae.js?30876e88a3c8b2acf519"></script><script defer src="/assets/dist/2034ee6ff13e6c9af77a.js?30876e88a3c8b2acf519"></script><script defer src="/assets/dist/5b4505e55d863355d678.js?30876e88a3c8b2acf519"></script><script defer src="/assets/dist/fc7ab63f8f573d15bb37.js?30876e88a3c8b2acf519"></script><script defer src="/assets/dist/50ddbc37687e8118c94e.js?30876e88a3c8b2acf519"></script><script defer src="/assets/dist/5447549e46fcbdf28206.js?30876e88a3c8b2acf519"></script><script defer src="/assets/dist/8cf59030321215d35143.js?30876e88a3c8b2acf519"></script><script defer src="/assets/dist/5abccecb9bb2c64990a3.js?30876e88a3c8b2acf519"></script></body>

</html>