<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    {{ - include("./partials/head") }}
    <title>FluexGL Test Application</title>
<link href="/assets/dist/57f2cbb3424f191384d4.css?31ec57939d83676c9054" rel="stylesheet"></head>
<body class="app app-index">
    <div class="root">
        <div class="root__content">
            <div class="scene-wrapper"></div>
        </div>
    </div>
<script defer src="/assets/dist/22d6f0e49b2fe07963d0.js?31ec57939d83676c9054"></script><script defer src="/assets/dist/47c93742a64ee96391e3.js?31ec57939d83676c9054"></script><script defer src="/assets/dist/b9805d83f13b185ec3bd.js?31ec57939d83676c9054"></script></body>
</html>