<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    {{ - include("./partials/head") }}
    <title>FluexGL Test Application</title>
<link href="/assets/dist/15a482344c284897c9b8.css?86f31b1e2f77c3498e8c" rel="stylesheet"></head>

<body class="app app-index">
    <div class="root">
        <div class="root__content">
            <!-- <div class="scene-wrapper"></div> -->
            <div class="fluex-gl-dsp-controls">
                <div class="buttons">
                    <button id="btn-play">Play</button>
                    <button id="btn-stop">Stop</button>
                </div>
                <div class="playback">
                    <p id="playback-current-time">00:00</p>
                    <input type="range" min="0" max="100" id="playback-tracker" />
                    <p id="playback-duration">00:00</p>
                </div>
            </div>
        </div>
    </div>
<script defer src="/assets/dist/fe93be65dbbf096e1165.js?86f31b1e2f77c3498e8c"></script><script defer src="/assets/dist/e1874b7c27b186c497c4.js?86f31b1e2f77c3498e8c"></script><script defer src="/assets/dist/85bc9879987cd8c35a36.js?86f31b1e2f77c3498e8c"></script><script defer src="/assets/dist/dfe820b010e6ba319b87.js?86f31b1e2f77c3498e8c"></script><script defer src="/assets/dist/b0d0ab8e45fb08d50aaf.js?86f31b1e2f77c3498e8c"></script><script defer src="/assets/dist/e4c1852c71f74a0de4f5.js?86f31b1e2f77c3498e8c"></script><script defer src="/assets/dist/340bddee22c8d112cc35.js?86f31b1e2f77c3498e8c"></script><script defer src="/assets/dist/c608785d872e5cf9d702.js?86f31b1e2f77c3498e8c"></script><script defer src="/assets/dist/e7732fe07f10f9ba4187.js?86f31b1e2f77c3498e8c"></script><script defer src="/assets/dist/5e5214d4118c24dece2a.js?86f31b1e2f77c3498e8c"></script><script defer src="/assets/dist/06e07d13bf7ec1e6f9f9.js?86f31b1e2f77c3498e8c"></script><script defer src="/assets/dist/156f93a83a247e8c1da5.js?86f31b1e2f77c3498e8c"></script><script defer src="/assets/dist/85667a4ed812db1b0b2b.js?86f31b1e2f77c3498e8c"></script></body>

</html>