<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    {{ - include("./partials/head") }}
    <title>FluexGL Test Application</title>
<link href="/assets/dist/15a482344c284897c9b8.css?8c3133d0841cd9756d47" rel="stylesheet"></head>

<body class="app app-index">
    <div class="root">
        <div class="root__content">
            <!-- <div class="scene-wrapper"></div> -->
            <div class="fluex-gl-dsp-controls">
                <div class="buttons">
                    <button id="btn-play">Play</button>
                    <button id="btn-stop">Stop</button>
                </div>
                <div class="playback">
                    <p id="playback-current-time">00:00</p>
                    <input type="range" min="0" max="100" id="playback-tracker" />
                    <p id="playback-duration">00:00</p>
                </div>
            </div>
        </div>
    </div>
<script defer src="/assets/dist/3930246cd29377625b84.js?8c3133d0841cd9756d47"></script><script defer src="/assets/dist/7b41074581dab1cf53f9.js?8c3133d0841cd9756d47"></script><script defer src="/assets/dist/f612d0be8ab851c495e1.js?8c3133d0841cd9756d47"></script><script defer src="/assets/dist/139da29055656117ba27.js?8c3133d0841cd9756d47"></script><script defer src="/assets/dist/c5db427566158fc25bf1.js?8c3133d0841cd9756d47"></script><script defer src="/assets/dist/65d26261b4a8cb434c86.js?8c3133d0841cd9756d47"></script><script defer src="/assets/dist/b79385bacbb61b341513.js?8c3133d0841cd9756d47"></script><script defer src="/assets/dist/7ff2c2f27ba6569071fe.js?8c3133d0841cd9756d47"></script><script defer src="/assets/dist/73412bc2f6b7f64fe8bf.js?8c3133d0841cd9756d47"></script><script defer src="/assets/dist/8e97cd19fe118a6b103b.js?8c3133d0841cd9756d47"></script><script defer src="/assets/dist/1ff8c78c0b67349f66ca.js?8c3133d0841cd9756d47"></script><script defer src="/assets/dist/3dd7dfb4f159387d05c2.js?8c3133d0841cd9756d47"></script><script defer src="/assets/dist/6f8d46ca06251fc2bd53.js?8c3133d0841cd9756d47"></script><script defer src="/assets/dist/6cc403f0e728b9d6acb0.js?8c3133d0841cd9756d47"></script><script defer src="/assets/dist/5cf7f56e7bd77ee01c5f.js?8c3133d0841cd9756d47"></script><script defer src="/assets/dist/284bdc37d7754dc7f971.js?8c3133d0841cd9756d47"></script></body>

</html>