<div class="debug">
    <div class="debug__container">
        <p id="frame-rate"></p>
        <p id="delta-time"></p>
        <p id="visible-render-objects"></p>
        <p id="mouse-position"></p>
        <p id="mouse-in-scene-position"></p>
        <p id="camera-offset"></p>
        <p id="camera-scaling"></p>
        <button id="reset-camera-position-button">Reset camera position</button>
        <button id="reset-camera-scaling-button">Reset camera scaling</button>
    </div>
</div>